<div class="container-fluid footer-basic">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-6">
        <ul>
          <li>R Magazine</li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contauct Us</a></li>
          <li><a href="#">Subscribe to Newsletter</a></li>
          <li><a href="#">Digital Edition</a></li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-6">
        <ul>
          <li>Advertising</li>
          <li><a href="">Media Kit</a></li>
          <li><a href="">Advertise</a></li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-6">
        <ul>
          <li>Write for Us</li>
          <li><a href="">Become a Contributor</a></li>
          <li><a href="">Submit Articles</a></li>
          <li><a href="">Submit Press Release</a></li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-6">
        <ul>
          <li>Legal</li>
          <li><a href="">Article Submission Policy</a></li>
          <li><a href="">Press Release Policy</a></li>
          <li><a href="">Terms of Use</a></li>
          <li><a href="">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-md-4 col-sm-6 text-center">
        <a href="">
          <img src="/img/logo/logo.png" alt="" class="center-block">
        </a>
        <p>The voice of restaurant leaders</p>
      </div>
    </div>
  </div>
</div>
