<link rel="shortcut icon" href="{{ site.url }}/img/background_16.png" />

<!-- For new browsers - multisize ico  -->
<link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="{{ site.url }}/img/background.png">

<!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/img/background@3x.png">

<!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
<link rel="apple-touch-icon-precomposed" sizes="96x96" href="{{ site.url }}/img/background@2x.png">

<!-- For iPhone 6+ -->
<link rel="apple-touch-icon-precomposed" sizes="192x192" href="{{ site.url }}/img/background@4x.png">

<!-- For first- and second-generation iPad: -->
<link rel="apple-touch-icon-precomposed" sizes="96x96" href="{{ site.url }}/img/background@2x.png">

<!-- For Old Chrome -->
<link rel="icon" href="{{ site.url }}/img/background.png" sizes="48x48">

<!-- Chrome for Android -->
<link rel="icon" sizes="192x192" href="{{ site.url }}/img/background@4x.png">
